@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

@import './app/shared/variables.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importar fichero de estilos bootstrap */
@import '~bootstrap/scss/bootstrap';

.modal-content {
  border: none  ;
}

.no-animation-modal {
  top: -50%;
  opacity: 1;
}

.gallery-page .carousel-item {
  transition: transform 1s;

  img {
    width: 100vw;
    height: calc(100vh - 120px);
  }

  h3, p, li {
    color: $lemonPrimaryCodeColor;
  }
}


