<mat-toolbar class="header-container">
  <button mat-icon-button class="menu-icon" (click)="menu()">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button class="menu-icon" (click)="home()">
    <mat-icon>home</mat-icon>
  </button>
  <span>Angular Lemoncode App - Bienvenido <b class="username">{{username}}</b></span>
  <img class="logo" src="../../../assets/logo.png" alt="Logo">
  <button mat-icon-button class="menu-icon logout-button" (click)="logout()">
    <mat-icon>pan_tool</mat-icon>
  </button>
</mat-toolbar>

