@import '../../shared/colors.scss';

.header {
   height: 80px;
   width: 100%;
   background-color: $lemonSecondaryCodeColor;
   box-shadow: 1px 1px 10px darken($lemonSecondaryCodeColor, 20);
   display: flex;
   align-items: center;

   .return-button {
      margin-left: 40px;
      cursor: pointer;
   }
}