@import '../../shared/colors.scss';

.header {
   height: 80px;
   width: 100%;
   background-color: $lemonSecondaryCodeColor;
   box-shadow: 1px 1px 10px darken($lemonSecondaryCodeColor, 20);
   display: flex;
   align-items: center;

   .return-button, .menu-button {
      margin-left: 30px;
      cursor: pointer;
      font-size: 20px;
      color: white;

      &:hover {
         color: darken($greyColor, 20);
      }
   }

   .title {
      color: white;
      margin-left: 50px;
   }
}