@import '../../shared/colors.scss';

.shopping-cart-container {

   padding: 30px;
   height: 93vh;
   display: flex;
   font-family: 'Open Sans', sans-serif;

   .icon {
      
      width: 100px;

      svg {
         height: 30px;
         color: $lemonSecondaryCodeColor;
      
         &:hover {
            cursor: pointer;
            color: darken($lemonSecondaryCodeColor, 20);
            transition-duration: 1s;
         }
      }
   }

   .shopping-cart {
      opacity: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 85vh;
      overflow-y: overlay;

      &.closed {
         opacity: 0;
         position: relative;
         transform: translateX(500px);
      }

      .shopping-item {
         display: flex;
         width: 90%;
         justify-content: space-around;
         margin: 10px 0;
         align-items: center;

         img {
            width: 40px;
         }

         h1 {
            font-size: 20px;
         }

         svg:hover {
               color: $lemonSecondaryCodeColor;
               cursor: pointer;
         }
      }
   }

   .shopping-total {
      position: fixed;
      top: 90%;

      svg {
         font-size: 20px;
         margin-left: 30px;

         &:hover {
            color: $lemonSecondaryCodeColor;
            cursor: pointer;
         }
      }
   }
}

