<div class="footer">
  <p>© Lemoncode 2021.Todos los derechos reservados.</p>
  <div class="icons">
    <a href="https://es-es.facebook.com/lemoncoders/">
      <fa-icon class="facebook-icon" [icon]="faFacebook"></fa-icon>
    </a>
    <a href="https://twitter.com/lemoncoders">
      <fa-icon class="twitter-icon" [icon]="faTwitter"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/school/lemoncode-freelancers/">
      <fa-icon class="linkedin-icon" [icon]="faLinkedin"></fa-icon>
    </a>
  </div>
</div>
