@import '../../shared/colors.scss';

.member-container {
   display: flex;
   width: 500px;
   justify-content: space-between;
   border: 1px solid black;
   border-radius: 10px;
   padding: 10px 30px;
   align-items: center;
   margin: 0 50px 20px 50px;
   background-color: $greyColor;

   .member-id {
      font-size: 20px;
   }

   .member-name {
      font-size: 20px;
   }

   .member-avatar {
      width: 50px;
      border-radius: 50%;
   }

   &:hover {
      cursor: pointer;
      border: 1px solid $lemonPrimaryCodeColor;
   }

}