<div class="login-page">
  <form #formSend="ngForm" class="login-form" (ngSubmit)="login()">
    <h1>Login</h1>
    <input type="text"
           [(ngModel)]="userLogin.username"
           name="username"
           placeholder="Usuario..."/>
    <input type="password"
           [(ngModel)]="userLogin.password"
           name="password"
           placeholder="Contraseña..."/>
    <button type="submit"
            *ngIf="!isLoading"
            [disabled]="!userLogin.username || !userLogin.password">Log in</button>
    <mat-spinner *ngIf="isLoading" [diameter]="30" color="accent"></mat-spinner>
    <p *ngIf="loginError">Error! Usuario/Contraseña incorrectos</p>
  </form>
</div>
