@import '../../shared/colors.scss';

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    align-items: center;

    svg {
        cursor: pointer;
        color: $lemonSecondaryCodeColor;

        &:hover {
            color: $lemonPrimaryCodeColor;
        }
    }
}

.characters-container {

    margin-top: 20px;

    .character-item {

        border: 1px solid black;
        border-radius: 10px;
        margin: 10px;
        display: flex;
        width: 400px;

        img {
            width: 120px;
            border-radius: 10px 0 0 10px;
        }

        .character-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }
}
