$lemonPrimaryCodeColor: rgb(217, 217, 0);
$lemonSecondaryCodeColor: #008C86;
$darken10lemonSecondaryCodeColor: darken(#008C86, 10);
$greyColor: rgb(238, 238, 238);
$darkenGreyColor10: darken(rgb(238, 238, 238), 10);
$darkenGreyColor20: darken(rgb(238, 238, 238), 20);
