$themeColor: blue;
$primaryFont: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
$secondaryFont: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$borderRadius: 5px;
$shadowBox: 14px 19px 18px #535252;